body {
    background-color: #f7cf6b;
    font-size: 16px;
    padding: 0;
    margin: 0; }
header, footer {
    background-color:#C21000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    }
header img{ width:80px;
    height: auto; 
}
headings h1{
    font-size:1.6rem;
    margin: 0 0 0 17px;
}
headings{ 
    display: flex;
    flex-direction: column;}
header,
nav,
main,
footer {
	max-width: 1000px;
	margin: 0 auto;
    box-shadow: 0 2px 15px gray;}
h1{ font-size:1.2rem;
    }
nav {
        background-color: #C21000;
        text-align: center;
        box-shadow: 0 2px 15px gray;
        }
footer{
    color:white;
    
}
.navigation{ padding:0;
            margin:0;}
.navigation li  {
        display: none;
        margin:0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;}
    
.navigation li a{       
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color: #E2EEF3;
    
    }
    
.navigation li:hover {
        background-color: #7a9b76;
        color: #0a131a;
    }
.navigation li:active {
        color:#DBB34F;}
.navigation li:first-child{
                display: block;
                            }
.responsive li{
    display:block;}