body {
    background-color: #f7cf6b;
    font-size: 16px;
    padding: 0;
    margin: 0; }
header, footer {
    background-color:#C21000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    }
header img{ width:80px;
    height: auto; 
}
headings h1{
    font-size:1.6rem;
    margin: 0 0 0 17px;
}
headings{ 
    display: flex;
    flex-direction: column;}
header,
nav,
main,
footer {
	max-width: 1000px;
	margin: 0 auto;
    box-shadow: 0 2px 15px gray;}
h1{ font-size:1.2rem;
    }
nav {
        background-color: #C21000;
        text-align: center;
        box-shadow: 0 2px 15px gray;
        }
footer{
    color:white;
    
}
.navigation{ padding:0;
            margin:0;}
.navigation li  {
        display: none;
        margin:0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;}
    
.navigation li a{       
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    color: #E2EEF3;
    font-size: 2rem;
    font-weight:700;
    
    }
    
.navigation li:hover {
        background-color: #f7cf6b;
        color: #0a131a;
    }
.navigation li:active {
        color:#DBB34F;}
.navigation li:first-child{
                display: block;
                            }
.responsive li{
    display:block;}
/*-----------------------
font-family: 'Inconsolata', monospace;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Open Sans Condensed', sans-serif;-------------*/
.attentionSection{
    position:relative;
    top:5px;
    background: radial-gradient(#d85e53,#dd1604);
    border: 1px;
    padding: 1rem;
    box-shadow: 0 0 30px #0f1111;
}
.weatherSection{
        position:relative;
        top:5px;
        background: radial-gradient(#d85e53,#dd1604);
        padding: 1rem;
        box-shadow: 0 0 30px #0f1111;
    }
.mainDivPicture{
        width:100%;
        height:80%;
    }
.divPic{
    margin:10px auto;
    position: relative;
}
.attentionSection h2{
    color:white;
    font-size:1.5rem;
    font-weight:bold;
    text-align:center;

}
.attentionSection p, .weatherSection p, .weatherSection h2{
    color:white;
    font-weight:bolder;
    text-align:center;
}
.attentionSection a{
    text-decoration: none;
    font-size:1.8rem;
    font-weight:bolder;
    font-family: 'Barlow Condensed', sans-serif;
    color:#f7cf6b;
    text-align:center;
}
.attentionSection a:hover{
        color: #db5461;
        }
h1 {color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-indent:1rem;}
.motto{
    font-style:oblique;
	letter-spacing: 1pt;
    margin-left: 20px;
	font-size: .9rem;
    color: #ec9fa7;
}
h2{text-indent: 1rem;
    color: #C21000;
    font-size: 1.5rem;
    font-weight:900;
}
.gridArticle{display:grid;
            grid-template-columns: 1fr;
    
}
.gridArticle img{
    max-width:90%;
    margin:2rem 2rem 0rem 2rem;

}
.articleDiv{
    margin:0 auto;
    background-color:rgb(255, 246, 127);
    padding:1rem;
    
}
.articleDiv p{
        font-size:1.5rem;   
}
.eventsDiv{
    background-color:#9b9776;
    color:white;
    margin:0 auto;
    
   
   }
.eventsDiv p{
    font-size:1.5rem;
    margin-left: 1rem;
}
.businessDiv{
    padding:1rem;
    margin:0 auto;
    background-color:white;
}
.business1 p{
    font-size:1.5rem;
}

.attentionSection h2{
    color:white;
    font-size:2rem;
}

.joinSection a{
    text-decoration: none;
    font-weight: bolder;
    font-size:1.5rem;
    padding:3px;
    text-align:center;
    color:#ff0821}
.joinSection a:hover{
 color:#c44d59;
}
.joinSection{
    position:-webkit-sticky;
    position:fixed;
    top: 30px;
    right: 0;
    background: radial-gradient(white,#f7cf6b);
    margin:0 ;
    padding:0;
    border: #ff0821 2px solid;
    border-radius:1rem;
    height:2rem;
}


.contactInfo{
    margin:0 auto;
    padding: 1rem 2rem;
    background-color:white;}
.contactInfo h2,.contactInfo h4{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bolder;
    font-size: large;
}
.curWeather{
    border:red solid 5px;
    background-color:#f5ae09;
}
.dailyTemp{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:1rem;
}





/*-----------forms------------*/
form fieldset {
    margin:.5rem;
    border: 5px solid #C21000;
    border-radius: 10px;
    padding:.5rem 2%;
    background-color:white;
    font-size: 2rem;
    font-weight: bolder;
}
form label.top input, label textarea, form label select {
    display:block;
   border: solid 3px #C21000;
   border-radius: 4px;
   padding:.50rem;
   color:#36454f;
   width: 100%;
   max-width:20rem;
   background-color:rgb(184, 209, 211);
}
form label.top{
    font-size:.8rem;
    margin-top:1rem;
    padding-top:5px;

}
legend{
    padding-top:1rem;
}
form label.radio input{
   display:block;
   width:2rem;
}
input.submitButton{
    border:none;
    background-color:#db5461;
    color:white;
    border-radius:1rem;
    padding:.5rem 1.5rem;
    margin: 1rem 0 2rem 1.5rem;
    width:90%;
    max-width:20rem;
    font-weight: bolder;
    font-size: 1.5rem;
}
form label.top input:required{
    border-left:red solid 6px;
}
form label.top input:required:valid{
    border-left:green solid 6px;
}
form label{
    font-size: 1.5rem;
}
input.submitButton:hover{
    background-color:lightcoral;
    color:#102E4A;
}

iframe{
   width:90%;
    
}
footer img{
margin:3px;
width:3rem;
}
.navFooter{
    margin-left:3rem;
}

      
  .h2thanks{
      padding:5rem;
      margin:1rem;
  }
  
  
   h2, h3, h4{
    font-family: 'Barlow Condensed', sans-serif;
      color:#C21000;
      font-weight:900;
      font-size:1.5rem;
     
  }
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight:700;
}
.fry-yayMenu{
    display:grid;
    grid-template-columns: 1fr;
    max-width:1000px;
    grid-gap: 7px;
    margin:5px 8px 10px 8px;
}
.fry-yayMenu picture:hover{box-shadow: 0 0 50px #333;}
.fry-yayMenu picture{
    margin-bottom: 20px;
    padding-bottom: 10px;}
figcaption{ padding:5px;
            text-align:center;
            color:#C21000;}
.fry-yayMenu img{
    width:100%;
    margin-bottom: 2px;
    filter: blur(0em);
     transition: filter 0.5s;
    
   }
   .picEvent {
       width:15rem;
       border: solid #C21000 2px;
       margin-right:5px;
   }
   .indexImage{
       border: solid #C21000 5px;
       margin: 0 auto;
   }
   #status{
       width: 90%;
       max-width:500px;
       text-align:center;
       padding:10px;
       margin:0 auto;
       border-radius: 8px;
   }
   #status.success{
       background-color:#508d4a; 
       animation: status 4s ease forwards;  
   }
   #status.error{
    background-color:rgb(202, 47, 47);
    color:white;
    animation: status 4s ease forwards;  
    }
    @keyframes status{
        0%{
            opacity: 1;
            pointer-events: all;
        }
        90%{
            opacity: 1;
            pointer-events: all;
        }100%{
            opacity: 0;
            pointer-events: none;
        }
    }


    

